/** OCR Custom **/

.privacy-policy {
  color: #999;
}


.text-center{
  text-align: left;
}

@media (max-width: 991px) {
  .text-center{
    text-align: center;
  }
}


.extra-info {
  color: #999;
  text-align: left;
  padding: 30px 0 0 ;
}

.extra-info ul{
  margin: 0 0 1em 1em;
}

#main-nav{
  background: linear-gradient(to bottom, rgba(233,233,233,1) 0%,rgba(255,255,255,1) 100%);
}

.bbb{
  display: inline-block;
  overflow: hidden;
  height: 100px;
}

.header__logo {
  padding: 70px 0 0;
}

.ocr__top-menu {
  /* background: #f7941e; */
  background: linear-gradient(to bottom, rgba(247, 148, 30, 1) 0%,rgba(243,136,9 , 0.55) 100%);
}

@media (max-width: 630px) {
  .ocr__top-menu {
    display: none;
  }
}

@media (min-width: 630px) {
  .ocr__logo-small {
    display: none;
  }
}

.ocr__top-menu .locations{
  display: inline-block;
  padding: 10px 0;
  color: #FFF;
}

@media (max-width: 1000px) {
  .ocr__top-menu .locations{
    display: none;
  }
}

.ocr__top-menu-items {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
}

.ocr__top-menu-items li {
  list-style: none;
  float: left;
}

.ocr__top-menu-items li a {
  display: inline-block;
  margin: 0 0;
  padding: 10px 25px;
  color: #FFFFFF;

  /* font-family: 'Orbitron', sans-serif; */
  /* font-weight: 700; */
  /* text-transform: uppercase; */
}

.ocr__top-menu-items li a:first-child {
  padding-right: 0;
}


/** Override Bootstrap **/

#main-nav .container{
  width: 100% !important;
}

.navbar-nav > li {
  margin-bottom: 20px;

  /* font-family: 'Orbitron', sans-serif; */
  /* font-weight: 500; */
  /* text-transform: uppercase; */
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: #f7941e;
}

.navbar-brand {
  margin: 0px !important;
  padding: 9px 0;
  height: auto;
}

h1, h2, h3, h4, h5{
  /* font-family: 'Orbitron', sans-serif; */
}

h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
  font-size: 50%;
  color: #BBB;
  /* font-family: 'Orbitron', sans-serif; */
}

/** Override Zerif **/

.intro-text {
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.header-content-wrap{
  /* padding: 285px 0 125px; */
  padding: 240px 0 70px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.6) 100%);
}

@media(max-width: 600px) {
  .header-content-wrap{
    padding: 85px 0 25px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.6) 100%);
  }
}

.focus, .works, .about-us, .features, .packages, .products, .testimonial, .contact-us{
  padding: 60px 0;
}

.contact-us {
  background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.6) 100%);
}

.separator-one {
  background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.6) 100%);
}

body.custom-background{
  background-size: cover;
}

.social li a:hover {
  color: #f7941e;
}

.red-btn {
  background: #f7941e;
}

.red-btn:hover,
.red-btn:visited {
  background: #da7a08;
}

.green-btn {
  background: #777777;
}

.green-btn:hover {
  background: #666666;
}

.blue-btn {
  background: #3ab0e2;
}

.yellow-btn {
  background: #E7AC44;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #f7941e;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover,
.pirate_forms .pirate-forms-submit-button:hover
{
  background-color: #da7a08;
}

.navbar__header-container {
  /* background: #f7941e; */
  border: 0;
}

.navbar__header-background {
  background: #f7941e;
}

.navbar__header-background .navbar-nav > li > a {
  color: #000;
}

.ocr__logo img {
  height: 110px;
}

@media(max-width: 1000px) {
  .ocr__logo img {
    height: 60px;
  }
}

.testimonial{
  background: #f7941e;
}

/** Focus **/
.service-icon {
  opacity: 0.7;
  transition: all 0.5s ease;
}

.service-icon:hover {
  opacity: 1;
  transition: all 0.5s ease;
}

.focus-box:nth-child(4n+1) .service-icon {
  border: 3px solid rgba(79, 157, 249, 0.6);
}
.focus-box:nth-child(4n+2) .service-icon{
  border: 3px solid rgba(79, 157, 249, 0.6);
}
.focus-box:nth-child(4n+3) .service-icon {
  border: 3px solid rgba(79, 157, 249, 0.6);
}
.focus-box:nth-child(4n+4) .service-icon{
  border: 3px solid rgba(79, 157, 249, 0.6);
}

.focus-box:nth-child(4n+1) .service-icon:hover {
  border: 3px solid rgba(79, 157, 249, 1);
}
.focus-box:nth-child(4n+2) .service-icon:hover{
  border: 3px solid rgba(79, 157, 249, 1);
}
.focus-box:nth-child(4n+3) .service-icon:hover {
  border: 3px solid rgba(79, 157, 249, 1);
}
.focus-box:nth-child(4n+4) .service-icon:hover{
  border: 3px solid rgba(79, 157, 249, 1);
}


.focus-box:nth-child(4n+1) .red-border-bottom:before {
  background: rgba(79, 157, 249, 1);
}
.focus-box:nth-child(4n+2) .red-border-bottom:before {
  background: rgba(79, 157, 249, 1);
}
.focus-box:nth-child(4n+3) .red-border-bottom:before {
  background: rgba(79, 157, 249, 1);
}
.focus-box:nth-child(4n+4) .red-border-bottom:before {
  background: rgba(79, 157, 249, 1);
}

.contact__checkboxes{
  background: #fff;
  padding: 9px;
  margin: 0 auto 20px auto;
  border-radius: 4px;
}

.form-control.select-box {
  height: 46px;
}
