html{font-size: 100%;}
body{
    background: url('../template/background.jpg') no-repeat #2b2829 top center !important;
    font: normal normal 0.875em/1.5em 'Arial', 'Verdana', sans-serif;
    color: #707070;
}

.hide{ display: none; }

#header{
    position: relative;
    width: 100%;
    height: 135px;
    background: url('../template/header.png') no-repeat;
}
#bar-top{
    width: 100%; height: 27px;
    background: url('../template/bar-top.png') no-repeat #f7941e;
}
#swap{
    width: 100%; height: 232px;
    background: url('../template/swap.jpg') no-repeat #FFFFFF;
}
#bar-bottom{
    width: 100%; height: 29px;
    background: url('../template/bar-bottom.png') no-repeat #f7941e;
}

#header #bbb{
    position: absolute;
    top: 60px; right: 7px;
    height: 47px; width: 57px;
}

#menu{
    float: left;
    width: 240px;;
    background: #FFF;
}
#menu img{float: left; margin: 0; padding: 0;}
#menu div{ }
#menu ul{
    float: left;
    width: 100%;
    list-style: none;
    margin: 0px; padding: 0px;
    background: url('../template/menu-item.png') repeat-y;
}
#menu ul li{
    display: block; float: left;
    margin: 0;
    height: 32px; width: 100%;
    padding-top: 7px;
    
    text-align: center;
    text-transform: uppercase;
    font-size: 1.20em;
    font-family: 'Bank Gothic';
    color: #FFF;
}
#menu ul li a{
    color: #FFF;
    text-decoration: none;
}

.social{
    padding: 0 0 0 22px;
    text-align: center;
    width: 200px;
}

.social p{
    font-family: 'Bank Gothic', serif;
    font-weight: bold;
    margin: 0;
}

.social img{
    float: none !important;
    display: inline-block !important;
}

#coupon{
    float: right;
    width: 218px; height: 25px;
    margin-top: 10px; margin-right: 198px;
}

div.mainContent{
    float: left;
    width: 630px;
    margin: 30px 20px auto 0;
}

.container{
    background: white;
    width: 890px;
}

div.right{ float: right; text-align: right; padding-right: 20px; }
div.left { float: left; }


form.mail input.text{ width: 300px;}
form.mail textarea{ width: 300px; height: 200px;}

form.mail input.red, form.mail textarea.red{ background: #FCC;}

input{ padding: 0 !important; margin: 0 !important; height: auto !important;}

/**MINI PAGE**/
#swap .minipage{
    position: relative;
    background: #fff;
    opacity: 0.85;
    padding: 10px; margin: 0px;
    width: 300px; height: 140px;
}

#swap .minipage h3{ margin: 0 0 10px;}
#swap .minipage p{ margin: 0 0 0px; font-size: 0.9em;}

#swap .minipage .content {
    color: #000;
    position: absolute; top: 5px; left: 5px;
    width: 290px;
}

#swap .minipage .content ul{
    margin: 0 0 0 10px; padding: 0;
    list-style: none;
}
